header, nav, .content-container{
        margin:auto;
        max-width: 64rem;
}
nav {
        width: 100vw;
}
footer, main {
        margin: auto;
}

/*----------- BODY --------------*/
.page-container {
        display: block;
    }


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {flex-basis: auto;}
nav ul {margin-left: 0%;}
nav ul li a{padding: .6rem .8rem;}


/*----------- MAIN --------------*/

#info-box-1 {
        width: 82%;
        padding-right: 10%;
}
#info-box-2 {
        padding: 0;
        width: 18%;
        text-align: right;
}
.about-card {
        width: 25%
    }

.tech-info {
        width: 66%;
}
.graph-img {
        width: 33%;
}
.tech-card {
        width: 50%;
    }

/*----------- FOOTER --------------*/
    
